{% extends "logged_in.html" %}
{% load widget_tweaks %}

{% block content %}


<form method="post">
  {% csrf_token %}
    <div id="phage">
  <table class="table" style="border:0px">
      <thead>
      <tr>
          <th style="color:maroon"><h3>Change Password</h3></th>
      </tr>
      </thead>
      <tbody>
          <tr>
              <td colspan="5">
                {{ form }}
              </td>
          </tr>
      </tbody>
  </table>
    </div>
  <button type="submit" class="btn btn-success">Save changes</button>
</form>


{% endblock %}