{% extends login_status|yesno:"logged_in.html,not_logged_in.html" %}


{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

{% if edit_status == 'true' %}
    <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> The phage entry is updated successfully.
    </div>
 {% endif %}
    {% if delete_status == 'true' %}
    <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> The phage entry is deleted successfully.
    </div>
    {% endif %}
        {% if add_status == 'true' %}
    <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> The phage entry is added successfully.
    </div>
        {% endif %}
<h2>Phages</h2>

<style>
#phage {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#phage td, #phage th {
    border: 1px solid #ddd;
    padding: 8px;
}

#phage tr:nth-child(even){background-color: #f2f2f2;}

#phage tr:hover {background-color: #ddd;}

#phage th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #800000;
    color: white;
}
</style>

<div id="phage">
<table class="table table-bordered table-responsive" id="phages"  >
    <thead>
    <tr class="m-0">
        <th style="padding: 10px;"class="w-20">Phage Name</th>
        <th style="padding: 10px;"class="w-20">Host Name</th>
        <th style="padding: 10px;"class="w-20">CPT-Index</th>
        <th style="padding: 10px;"class="w-20">Isolator Name</th>
        <th style="padding: 10px;"class="w-20">Experimenter Name</th>
        <th style="padding: 10px;"class="w-20">Isolator Location</th>
    </tr>
    </thead>
    <tbody>
    {% for item in query_results %}
    <tr>
        <td style="padding: 8px;"><a href='/view_phage/?name={{ item.phage_name }}'>{{ item.phage_name }}</a>
                {% if latest == item.phage_name %}
            {% load staticfiles %}
                <img src="{% static 'images/new3.gif' %}" alt="Demo image"  class="img-rounded img-responsive" />
        {% endif %}
        </td>
        <td style="padding: 8px;">{{ item.phage_host_name }}</td>
        <td style="padding: 8px;">{{ item.phage_CPT_id}}</td>
        <td style="padding: 8px;">{{ item.phage_isolator_name }}</td>
        <td style="padding: 8px;">{{ item.phage_experimenter_name}}</td>
        <td style="padding: 8px;">{{ item.phage_isolator_loc }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#phages').dataTable();
});
</script>

<style type="text/css">
.table {
    margin: 0 auto;
    width: 80%;
}
td{
    word-wrap: break-word;
    min-width: 100px;
    max-width: 100px;
}
</style>

{% endblock %}
